nav
{
display: flex;
justify-content: center;
background-color: #077;
}
header
{
  text-align: center;
}
a
{
  background-color: #FAEBD7;
  transition: background-color 0.4s;
  text-decoration:none;
  padding: 0.5em 1em;
}

a:hover
{
  background-color: #00FFFF
}
main
{
  float:left;
  box-sizing: border-box;
  padding: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
  text-align: center;
}
